
<table classe="profile" summary="profile information">
	
	<tr>
		<td class="main">
		
	

<H1>
	<%= gravatar_for @user %>
	<%= @user.name %>
</h1>
</td>
<td class="sidebar round">
	<strong>Name</strong> <%= @user.name %><br />
	<strong>URL</strong> <%= link_to "test", @user  %>
	
</td>

</tr>
	
	</table>